<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Jobs</title>
  </head>
  <body>
  <h3>All Jobs for <strong><%= @company.name %></strong></h3>
    <% @jobs.each do |job| %>
    <ul><%= link_to job.title, company_job_path(@company, job) %>
      at
      <%= job.company.name %></ul>

    <% end %>

  </body>
</html>
