/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$eggplant: #210B2C;
$off-white: #ECEBE4;
$purple-grey: #CFCCD6;
$periwinkle: #BBC2E2;
$lavender: #B7B5E4;


body {
  font-family: 'Lato', sans-serif;
  background-color: $off-white;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  color: $eggplant;
  text-decoration: underline;
  text-align: center;
}
.nav {
  li {
    float: right;
    padding: 14px 16px;
    text {
    color: white;
    align: center;
    decoration: none;
    }
  }
  li a:hover {
  background-color: #111;
  }
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BBC2E2;
}
.company-container {
  font-weight: bold;
  padding-left: 40px;
  padding-top: 10px;
}
h4 {
  font-weight: bold;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: $eggplant;
}
a:hover,
a:focus {
	color: $lavender;
  background-color: $eggplant;
}
.button {
  background-color: $lavender;
  border: none;
  color: $off-white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.parentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.wrapperOne {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 10px;
}
.wrapperTwo {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 10px;
}
.titleSpace {

}
